.cart-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-page-container {
  display: flex;
  flex-direction: column;
}

.cart-page-heading {
  font-size: 30px;
  letter-spacing: 1.5px;
  text-align: center;
  color: rgb(63, 63, 13);
}

.empty-cart {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}
