.cart-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-page-container {
  display: flex;
  flex-direction: column;
}

.cart-page-heading {
  margin-left: 120px;
}

.empty-cart {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}