.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(195, 165, 88);
  /* background-color: #b5b06a; */
  height: 50px;
  width: auto;
  padding: 0 10px 0 10px;
}

.navBar-items {
  font-weight: 700;
  /* cursor: pointer; */
}
